body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

p {
    line-height: 150%;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
}

.contentWrapper {
    padding: 24px;
}

.mainContainer {
    height: auto;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 40px;
    color: white;
    position: relative;
}

.bgSedan {
    background-image: none;
}

.sedan {
    background-image: none;
    background-color: hsl(31, 77%, 52%);
    border-radius: 12px 12px 0 0;
    position: relative;
    max-height: 100%;

}

.hoverSedan {
    position: absolute;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 12px 12px;
}

.btn {
    background-color: white;
    margin-top: 16px;
    padding: 0 16px;
    height: 44px;
    border-radius: 16px;
    border: none;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    box-sizing: border-box;

}

.btnSedan:hover,
.btnSuv:hover,
.btnLux:hover {
    background-color: transparent;
    color: white;
    border: 2.5px solid white;
    transition: ease-in 0.3s;
    -webkit-transition: ease-out 0.3s;
}

.btnSedan {
    border: 2.5px solid white;
    color: hsl(31, 77%, 52%);
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
}

.btnSuv {
    border: 2.5px solid white;
    color: hsl(184, 100%, 22%);
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
}

.btnLux {
    border: 2.5px solid white;
    color: hsl(179, 100%, 13%);
    transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;

}

@media only screen and (min-width: 600px) {
    .mainContainer {
        flex-direction: row;
        max-width: 1000px;
        margin: 0 auto;
    }

    .container {
        height: 100%;
    }

    .bgContainer {
        position: relative;
    }

    .bgContainer .bgSedan::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/sedan-image.jpg");
        border-radius: 12px 0 0 12px;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%);
    }

    .sedan {
        border-radius: 12px 0 0 12px;
        transition-timing-function: ease-in;
        transition-duration: 0.3s;
    }

    .bgContainer:hover .sedan {
        background-color: transparent;
    }

    .bgContainer .bgSuv::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/suv-image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%);
    }

    .suv {
        transition-timing-function: ease-in;
        transition-duration: 0.3s;
    }

    .bgContainer:hover .suv {
        background-color: transparent;
    }


    .bgContainer .bgLux::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("/images/lux-image.jpg");
        border-radius: 0 12px 12px 0;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%);
    }

    .luxury {
        border-radius: 0 12px 12px 0;
        transition-timing-function: ease-in;
        transition-duration: 0.3s;
    }

    .bgContainer:hover .luxury {
        background-color: transparent;
    }
}
